*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: justify;
}

.CCFUN{}

.Searchcss{
  margin-top:13px;
}

.navtop{
  width:100%;
  overflow: visible;
  position:fixed;
  right:0;
  z-index: 1000;
  background-color: #444444;
}

.spacer{
  padding-bottom: ;
}
