.bs-example{
  padding-left: 220px;


}

.typeselect1:hover {
  background-color: grey;
  color:white;

}

.typeselect2:hover {
  background-color: green;
  color:white;

}

.typeselect3:hover {
  background-color: yellow;
  color:white;

}
.typeselect4:hover {
  background-color: red;
  color:white;

}

.typeselect5:hover {
  background-color: aqua;
  color:white;

}
